
/* @import "rsuite/dist/rsuite.css"; */


.sidebar {
        width:240;
        height:100%;
        position: absolute;
        z-index: 20;
        background-color: #f7f7fa;
}

a {
        text-decoration: none;
        color:#575757;
}

a:hover {
        text-decoration: none;
        color:#575757;
}