/* @import "rsuite/dist/rsuite.css"; */

.sidebar-lvl-2 {
  
  position: absolute;
  left: 50px;
  top: 120px;
  width: 140px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0);
}

.selected-lvl2 {
  font-weight: bold;
}

#sidebar-item-lvl2 {
  background-color: #ffffff;
}
#sidebar-item-lvl2:hover {
  background-color: #e5e5ea;
  
}


#sidenav-out {
  background-color: #ffffff;
}

#sidenav-body{
  background-color: #ffffff;
}

/* .rs-sidenav-default {
  background-color: #ffffff;
} */

/* .rs-sidenav-default .rs-sidenav-item, .rs-sidenav-default .rs-dropdown-toggle, .rs-sidenav-default .rs-sidenav-toggle-button {
  background-color: #ffffff;
} */