@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

:root {
  --navbar-bg-color: #bdbdbdd3;
  --navbar-text-color: #484848;
  --navbar-text-icon: #4c4747;
}


/* General */
.star-mark {
  color: #ff6765;
  font-size: 25px;
  font-weight: bold;
  margin-left: 5px;
  position: relative;
  left:-2px;
  top:-5px;
}

.general-page-container {
  margin-left: 80px;
  padding: 20px;
}

.general-page-container-reduced {
  margin-top: 25px;
  margin-left: 150px;
  padding: 20px;
}

.page-header {
  display: flex;
  align-items: center;
  color: #7f7f7f;
  z-index: 1;
}

.page-header-title {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 15px;
}

.page-header-username {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
}

/* Sign In and Sign UP */
.sign-in-up-container {
  position: fixed;
  z-index: 2;
  top: 30%;
  left: 30%;
}

.sign-in-window {
  height: 300px;
  width: 600px;
  border-radius: 8px;
  border: 0px solid #b0acad;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 30px;
}

.sign-up-window {
  height: 350px;
  width: 600px;
  border-radius: 8px;
  border: 0px solid #b0acad;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 30px;
}

.sign-in-up-title {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 10px;
  color: #7f7f7f;
  margin-bottom: 30px;
}

.sign-in-up-input {
  background-color : #e8e5e6; 
  border-radius: 4px;
  border: 0px;
  height: 40px;
  width: 250px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sign-in-up-input-non-required {
  background-color : #e8e5e6; 
  border-radius: 4px;
  border: 0px;
  height: 40px;
  width: 250px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
}

.sign-in-up-button {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  border-radius: 15px;
  color: whitesmoke;
}

.sign-in-up-button-list {
  text-align: right;
  margin-top: 40px;
}

/* EntityInfo */
.entity-info-container-my-home {
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 10%;
}

.entity-info-window {
  display: flex;
  align-items: center;
  height: 450px;
  width: 1200px;
  padding: 25px;
  /* border: 1px solid #b0acad; */
}

.entity-info-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 300px;
  /* border: 1px solid #b0acad; */
}

.entity-info-avatar-avatar {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
  /* border: 1px solid #b0acad; */
}

.entity-info-info {
  margin-left: 50px;
  height: 400px;
  width: 800px;
  /* border: 1px solid #b0acad; */
}

.entity-info-info-description {
  margin-top: 50px;
  height: 200px;
  width: 790px;
  /* border: 1px solid #b0acad; */
}

.general-font-medium {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}

.general-font-medium-small-bold {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 5px;
}

.general-font-medium-small {
  font-size: 25px;
  letter-spacing: 2px;
}

.general-font-small {
  font-size: 20px;
  letter-spacing: 2px;
}

.general-font-tiny {
  font-size: 15px;
  letter-spacing: 1px;
}

.general-button-green {
  margin-right: 5px;
  margin-left: 5px;
  background-color: #5bc96d;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  border-radius: 5px;
  color: whitesmoke;
  box-shadow: 2px 2px 1px #888888;
}

.general-button-red {
  margin-right: 5px;
  margin-left: 5px;
  background-color: #ff6765;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  border-radius: 5px;
  color: whitesmoke;
  box-shadow: 2px 2px 1px #888888;
}

.general-button-grey {
  margin-right: 5px;
  margin-left: 5px;
  background-color: #a0a0a0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  border-radius: 5px;
  color: whitesmoke;
  box-shadow: 2px 2px 1px #888888;
}

.entity-info-avatar-file {
  height: 80px;
  width: 160px;
  border-radius: 4px;
  border: 2px solid #a0a0a0;
  background-color: #f0f0f0;
  padding: 5px;
}

.file-drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 15px;
  letter-spacing: 1px;

  height: 80px;
  width: 200px;
  border-radius: 4px;
  border: 2px solid #a0a0a0;
  background-color: #f0f0f0;
  padding: 5px;
}

.file-uploader-container {
  position: fixed;
  z-index: 2;
  top: 30%;
  left: 35%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  height: 300px;
  width: 450px;
  border-radius: 8px;
  border: 0px solid #b0acad;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 30px;

  font-size: 15px;
  letter-spacing: 1px;
}

.general-avatar {
  display: inline-block;
  background-position: 50% 50%;
  background-size: cover;
}

.general-avatar-text {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f0f0f0;
  color: #a0a0a0;
}

/* Segment */
.segment-container {
  /* display: flex;
  flex-direction: column; */
  width: 600px;
  /* border-radius: 8px;
  border: 1px solid #b0acad; */
  background-color: #ffffff;
  margin-bottom: 10px;
  /* padding: 20px; */
}

.segment-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.segment-status-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.segment-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  margin-top: 5px;
}

.general-icon-button {
  border: 0px solid #b0acad;
  background-color: transparent;
}

.task-status-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;

  font-size: 22px;
  font-weight: bold;

  border-radius: 8px;
  background-color: white;
  margin-left: 2px;
  margin-right: 2px;
}

/* Worksheet */
.worksheet-container {
  display: flex;
  flex-direction: row;
  width: 1100px;
  border-radius: 15px;
  /* border: 5px solid #a9d0e3; */
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: 1px 1px 5px;
}

.worksheet-info-container {
  position: relative;
  left: 0%;
}

.worksheet-segments-container {
  position: relative;
  left: 13%;
}

.general-row-align {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.general-column-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}
