name: Build API Image

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build_images:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build API Image
        working-directory: ./api
        run: |
          docker build --no-cache -t cl_api -f DockerFile .
      
